DemoTest.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata":{
        "comments":"This logic app Azure-Monitor-Close-ITSM-HTTP-API is a companion to Azure-Monitor-Alert-ITSM-HTTP-API. The two logic apps Open, update, close, and re-open/re-close ITSM tickets, keeping Azure Monitor alert view and the ITSM in sync.",
        "author":"John Joyner"
           },
    "parameters": {
        "workflows_Azure_Monitor_Close_ITSM_HTTP_API_name": {
            "defaultValue": "Azure-Monitor-Close-ITSM-HTTP-API",
            "type": "String"
        },
        "subscriptionId": {
            "defaultValue": "[subscription().subscriptionId]",
            "type": "String"
        },
        "userAssignedIdentities_ITSM_MI_externalid": {
            "defaultValue": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/<MyResourceGroup>/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ITSM-MI",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Azure_Monitor_Close_ITSM_HTTP_API_name')]",
            "location": "eastus",
            "identity": {
                "type": "UserAssigned",
                "userAssignedIdentities": {
                    "[parameters('userAssignedIdentities_ITSM_MI_externalid')]": {}
                }
            },
            "properties": {
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "subscriptionId": {
                            "defaultValue": "[parameters('subscriptionId')]",
                            "type": "String"
                        },
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "body": {
                                            "type": "string"
                                        },
                                        "headers": {
                                            "properties": {
                                                "CLIENT-IP": {
                                                    "type": "string"
                                                },
                                                "Content-Length": {
                                                    "type": "string"
                                                },
                                                "Content-Type": {
                                                    "type": "string"
                                                },
                                                "DISGUISED-HOST": {
                                                    "type": "string"
                                                },
                                                "Expect": {
                                                    "type": "string"
                                                },
                                                "Host": {
                                                    "type": "string"
                                                },
                                                "Max-Forwards": {
                                                    "type": "string"
                                                },
                                                "WAS-DEFAULT-HOSTNAME": {
                                                    "type": "string"
                                                },
                                                "X-ARR-LOG-ID": {
                                                    "type": "string"
                                                },
                                                "X-ARR-SSL": {
                                                    "type": "string"
                                                },
                                                "X-AppService-Proto": {
                                                    "type": "string"
                                                },
                                                "X-Forwarded-For": {
                                                    "type": "string"
                                                },
                                                "X-Forwarded-Proto": {
                                                    "type": "string"
                                                },
                                                "X-Forwarded-TlsVersion": {
                                                    "type": "string"
                                                },
                                                "X-Original-URL": {
                                                    "type": "string"
                                                },
                                                "X-SITE-DEPLOYMENT-ID": {
                                                    "type": "string"
                                                },
                                                "X-WAWS-Unencoded-URL": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Compose_-_Convert_XML_to_JSON": {
                            "runAfter": {},
                            "type": "Compose",
                            "inputs": "@json(xml(triggerBody()))"
                        },
                        "HTTP_-_Close_Azure_Monitor_alert_with_ITSM_comments": {
                            "runAfter": {
                                "Condition_-_Get_alertState": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "https://management.azure.com/subscriptions/@{parameters('subscriptionId')}/providers/Microsoft.AlertsManagement/alerts/@{body('Parse_JSON_-_Converted_from_XML')?['methodCall']['params']['param']['value']['struct']['member'][6]['value']['string']}/changestate?api-version=2019-03-01-preview&newState=Closed",
                                "method": "POST",
                                "headers": {
                                    "Content-Type ": "application/json",
                                    "api-supported-versions": "2019-03-01-preview"
                                },
                                "body": {
                                    "comments": "ATitemId: @{body('Parse_JSON_-_Converted_from_XML')?['methodCall']['params']['param']['value']['struct']['member'][0]['value']['int']} | ITSM ticket: @{body('Parse_JSON_-_Converted_from_XML')?['methodCall']['params']['param']['value']['struct']['member'][1]['value']['string']} | ITSM status: @{body('Parse_JSON_-_Converted_from_XML')?['methodCall']['params']['param']['value']['struct']['member'][2]['value']['string']} | Created: @{body('Parse_JSON_-_Converted_from_XML')?['methodCall']['params']['param']['value']['struct']['member'][3]['value']['dateTime.iso8601']} | Last activity: @{body('Parse_JSON_-_Converted_from_XML')?['methodCall']['params']['param']['value']['struct']['member'][4]['value']['dateTime.iso8601']} | domain: @{body('Parse_JSON_-_Converted_from_XML')?['methodCall']['params']['param']['value']['struct']['member'][5]['value']['string']}"
                                },
                                "authentication": {
                                    "type": "ManagedServiceIdentity",
                                    "identity": "[parameters('userAssignedIdentities_ITSM_MI_externalid')]",
                                    "audience": ""
                                }
                            }
                        },
                        "Parse_JSON_-_Converted_from_XML": {
                            "runAfter": {
                                "Compose_-_Convert_XML_to_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@outputs('Compose_-_Convert_XML_to_JSON')",
                                "schema": {
                                    "properties": {
                                        "?xml": {
                                            "properties": {
                                                "@@version": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "methodCall": {
                                            "properties": {
                                                "methodName": {
                                                    "type": "string"
                                                },
                                                "params": {
                                                    "properties": {
                                                        "param": {
                                                            "properties": {
                                                                "value": {
                                                                    "properties": {
                                                                        "struct": {
                                                                            "properties": {
                                                                                "member": {
                                                                                    "items": {
                                                                                        "properties": {
                                                                                            "name": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "value": {
                                                                                                "properties": {
                                                                                                    "int": {
                                                                                                        "type": "string"
                                                                                                    }
                                                                                                },
                                                                                                "type": "object"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "name",
                                                                                            "value"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Condition_-_Get_alertState": {
                            "actions": {
                                "HTTP_-_Alert_changestate_and_comment": {
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "https://management.azure.com/subscriptions/@{parameters('subscriptionId')}/providers/Microsoft.AlertsManagement/alerts/@{body('Parse_JSON_-_Converted_from_XML')?['methodCall']['params']['param']['value']['struct']['member'][6]['value']['string']}/changestate?api-version=2019-03-01-preview&newState=Acknowledged",
                                        "method": "POST",
                                        "headers": {
                                            "Content-Type ": "application/json",
                                            "api-supported-versions": "2019-03-01-preview"
                                        },
                                        "body": {
                                            "comments": "Azure Monitor alert re-opened to post ITSM comment before re-closing."
                                        },
                                        "authentication": {
                                            "type": "ManagedServiceIdentity",
                                            "identity": "[parameters('userAssignedIdentities_ITSM_MI_externalid')]",
                                            "audience": ""
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "HTTP_-_Get_alert_by_alertId": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {}
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@body('HTTP_-_Get_alert_by_alertId')?['properties']?['essentials']?['alertState']",
                                                "Acknowledged"
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "HTTP_-_Get_alert_by_alertId": {
                            "runAfter": {
                                "Parse_JSON_-_Converted_from_XML": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "https://management.azure.com/subscriptions/@{parameters('subscriptionId')}/providers/Microsoft.AlertsManagement/alerts/@{body('Parse_JSON_-_Converted_from_XML')?['methodCall']['params']['param']['value']['struct']['member'][6]['value']['string']}?api-version=2019-03-01-preview",
                                "method": "GET",
                                "authentication": {
                                    "type": "ManagedServiceIdentity",
                                    "identity": "[parameters('userAssignedIdentities_ITSM_MI_externalid')]",
                                    "audience": ""
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {}
                    }
                },
                "accessControl": {
                     "triggers": {
                          "allowedCallerIpAddresses": [
                            {
                          "addressRange": "192.168.1.0/24"
                            },
                           {
                          "addressRange": "2001:0db8::/64"
                           }
                       ]
                     },
                    "actions": {
                          "allowedCallerIpAddresses": [
                            {
                          "addressRange": "192.168.1.0/24"
                            },
                            {
                          "addressRange": "2001:0db8::/64"
                           }
                       ]
                    },
                    "contents": {
                          "allowedCallerIpAddresses": [
                            {
                          "addressRange": "192.168.1.0/24"
                            },
                            {
                          "addressRange": "2001:0db8::/64"
                           }
                       ]
                    }                    
                }
            }
        }    
    ]
}
